html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Fredoka One', cursive;
  font-family: 'Hind Madurai', sans-serif;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

.container {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1120px) {
  .container {
    width: 1120px;
  }
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
}

.page-header {
  background-color: #F2CEDA;
  padding-top: 42px;
  padding-bottom: 67px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 266px;
}

.page-header__item :not(last-child) {
  margin-right: 40px;
}

.page-header__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  opacity: 0.7;
  text-decoration: none;
}

.page-header__link:hover, .page-header__link:focus {
  color: #D23166;
}

.page-header__button {
  margin-left: auto;
}

.hero {
  padding-top: 196px;
  padding-bottom: 213px;
  background-color: #F2CEDA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__name {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: #0F0101;
  margin-bottom: 6px;
}

.hero__subname {
  font-family: Fredoka One;
  font-style: normal;
  font-weight: normal;
  font-size: 57.33px;
  line-height: 120.5%;
  color: #0F0101;
  opacity: 0.9;
  margin-bottom: 35px;
}

.hero__text {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: #0F0101;
  margin-bottom: 50px;
  opacity: 0.6;
  width: 523px;
}

.hero_roze {
  color: #D23166;
}

.advantages {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #E5E5E5;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.advantages__item:not(last-child) {
  margin-right: 39px;
}

.advantages__grup {
  width: 250px;
  height: 200px;
  background: #FFFFFF;
  -webkit-box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
          box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
  border-radius: 7px;
  text-align: center;
}

.advantages__name {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 9px;
  color: #000000;
}

.advantages__text {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.4;
  opacity: 0.6;
  padding-left: 26px;
  padding-right: 26px;
}

.main-product {
  padding-top: 141px;
  padding-bottom: 146px;
  background-color: #F8EDF0;
}

.main-product__name {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 49px;
  color: #150101;
  width: 349px;
  margin-bottom: 16px;
}

.main-product__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #150101;
  opacity: 0.6;
  width: 442px;
  margin-bottom: 35px;
}

.our-products {
  padding-top: 137px;
  padding-bottom: 149px;
  background-color: #E5E5E5;
}

.our-products__name {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: 61px;
  color: #150101;
  text-align: center;
  margin-bottom: 64px;
}

.our-products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 109px;
}

.our-products__link {
  display: block;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  color: #000000;
  opacity: 0.6;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: opacity 300ms linear;
  transition: opacity 300ms linear;
}

.our-products__link:hover, .our-products__link:focus {
  opacity: 1;
}

.our-products__link:hover::after, .our-products__link:focus::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.our-products__link::after {
  content: "";
  width: 100%;
  height: 3px;
  display: block;
  background-color: #D23166;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 300ms linear;
  transition: -webkit-transform 300ms linear;
  transition: transform 300ms linear;
  transition: transform 300ms linear, -webkit-transform 300ms linear;
}

.card__name {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.4;
  margin-bottom: 11px;
  color: #000000;
}

.card__autor {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: #000000;
  margin-bottom: 50px;
}

.card__item {
  width: 454px;
}

.card__item:last-child {
  width: 322px;
}

.card__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  opacity: 0.7;
  text-decoration: none;
  margin-bottom: 34px;
}

.card__text--autor {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #000000;
  opacity: 0.7;
  text-decoration: none;
  margin-bottom: 50px;
}

.pay-food {
  padding-top: 90px;
  padding-bottom: 150px;
  background: #F8EDF0;
}

.pay-food__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44.2px;
  line-height: 1.2;
  color: #000000;
  margin-bottom: 20px;
}

.pay-food__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.16;
  color: #0F0101;
  opacity: 0.7;
  text-decoration: none;
  letter-spacing: 0.01em;
  width: 607px;
  margin-bottom: 31px;
}

.pay-food__list {
  margin-bottom: 40px;
}

.pay-food__item:nth-child(-n+2) {
  margin-bottom: 20px;
}

.pay-food__link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.2;
  color: #000000;
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.pay-food__buttons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pay-food__buttons-form {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: orangered;
}

.questions {
  padding-top: 191px;
  padding-bottom: 129px;
  background-color: #FFFFFF;
}

.questions__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
  color: #000000;
  width: 522px;
  margin-bottom: 28px;
}

.questions__input {
  width: 637px;
  height: 74px;
  background: #FAFAFA;
  border: 5px #FAFAFA;
  outline: 0;
  padding: 29px;
}

.questions__input::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #0F0000;
  opacity: 0.6;
}

.questions__input:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #0F0000;
  opacity: 0.6;
}

.questions__input::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #0F0000;
  opacity: 0.6;
}

.questions__input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.2;
  color: #0F0000;
  opacity: 0.6;
}

.questions__button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.12;
  padding: 28px 31px 28px 36px;
  color: #FFFFFF;
  background: #D64374;
  border-radius: 5px;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */