.hero {
   padding-top: 15px;
   padding-bottom: 40px;   
   background-color: $header-bckg-color;
 @media screen and (min-width: 768px) {
     padding-top   : 50px;
     padding-bottom: 50px;
 }
 @media screen and (min-width: 1120px) {
    padding-top: 196px;
    padding-bottom: 213px;
 }

&__tablet {
    @media screen and (min-width: 768px) and (max-width: 1119px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   

}

&__box {
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) and (max-width: 1119px) {
   width: 300px;
}
}
& .container {
    position: relative;
}
&__kolo {
    display: none;
    @media screen and (min-width: 1120px) {
        display: block;
        position: absolute;
        top     : 160px;
        right   : -10px;
animation-name    : kolo;
animation-duration: 2s;
animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
    }
      @keyframes kolo {
      0% {
          opacity  : 0;}
      100% {
          opacity  : 1;}
  }
}
&__mob {
    width: 400px;
    @media screen and (min-width: 1120px) {
    display: block;
    position: absolute;
    width: 680px;
    top:-180px;
    right: -150px;
animation-name    : mob;
animation-duration: 2s;
animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
    @keyframes mob {
    0% {
    transform: translateX(-100%);
    opacity: 0;}
    100% {
    opacity: 1;
transform: translateX(0)}
    }
}
} 
&__milk {
    display: none;
    @media screen and (min-width: 1120px) {
  display: block;
  position: absolute;
  top     : -40px;
  right   : -270px;
  transform: rotate(4.79deg);
  animation-name    : milk;
  animation-duration: 2s;
  animation-timing-function: cubic-bezier(.1, -.6, .2, 0);
   } 
   @keyframes milk {
     0% {
         transform: rotate(0deg);
         transform: translateX(30%);
         opacity  : 0;}
     100% {
         opacity  : 1;
         transform: translateX(0);
         transform: rotate(4.79deg)}
 } 
}  
}
.hero__name {
@include text ($fw:500,$fs:14px,$lx:1.14,$color:$hero-color,$opa:1)
letter-spacing: 0.1em;
margin-bottom: 6px;
}
.hero__subname {
font-family: Fredoka One;
font-style : normal;
font-weight: normal;
font-size  : 27.33px;
line-height: 90.5%;
color: $hero-color;
opacity: 0.9;
margin-bottom: 15px;
@media screen and (min-width: 768px) {
    font-size    : 37.33px;
    margin-bottom: 25px;
    line-height: 90.5%;
}
@media screen and (min-width: 1120px) {
    font-size : 57.33px;
    margin-bottom: 35px;
    line-height: 120.5%;
}
}
.hero__text {
@include secondary-text ($fw:400, $fs:16px,$lx:1.5,$color:$header-color,$opa:0.6)
margin-bottom: 10px;
width: 100%;
@media screen and (min-width: 768px) {
   @include secondary-text ($fw:400, $fs:18px, $lx:1.5, $color:$header-color, $opa:0.6);
margin-bottom: 15px;
width  : 400px;
}
@media screen and (min-width: 1120px) {
@include secondary-text ($fw:400, $fs:18px, $lx:1.5, $color:$header-color, $opa:0.6);
margin-bottom  : 50px;
width          : 523px;
}
}
.hero__roze {
    color: $accent-color;
}