.hero {
   padding-top: 30px;
   padding-bottom: 30px;   
   background-color: $header-bckg-color;
 @media screen and (min-width: 768px) {
     padding-top   : 80px;
     padding-bottom: 80px;
 }
 @media screen and (min-width: 1120px) {
    padding-top: 196px;
    padding-bottom: 213px;
 }
 @media screen and (min-width: 1120px) {
    background-image: 
    url(../images/hero/hero.png), 
    url(../images/hero/hero-main.png), 
    url(../images/hero/kolo.png),
    url(../images/hero/ellipse.png);
    background-position-x:100%,88%,80%,80%;
    background-position-y: 85%,30%,80%,120%;
    background-size: 58%,40%,23%,50%;
    background-repeat: no-repeat;
    background-attachment: inherit;
    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/hero/hero2x.png),
url(../images/hero/hero-main2x.png),
url(../images/hero/kolo2x.png),
url(../images/hero/ellipse2x.png);
    }
}
   
}
.hero__name {
@include text ($fw:500,$fs:14px,$lx:1.14,$color:$hero-color,$opa:1)
letter-spacing: 0.1em;
margin-bottom: 6px;
}
.hero__subname {
font-family: Fredoka One;
font-style : normal;
font-weight: normal;
font-size  : 57.33px;
line-height: 120.5%;
color: $hero-color;
opacity: 0.9;
margin-bottom: 35px;
}
.hero__text {
@include secondary-text ($fw:400, $fs:18px,$lx:1.5,$color:$header-color,$opa:0.6)
margin-bottom: 50px;
width: 523px
}
.hero__roze {
    color: $accent-color;
}