.main-product {
    padding-top: 141px;
    padding-bottom: 133px;
    background-color: $main-bckg-color;
    
}
.main-product>.container {
    display: flex;
    align-items: center;
    position: relative;
}
.main-product__img {
    position: absolute;
    top:-213px;
    right: 0;
}
.main-product__name {
@include secondary-text ($lx:1.11,$color:$header-color)
width: 349px;
margin-bottom: 16px;
}
.main-product__text {
@include text ($color:$header-color,$opa:0.6)
width: 442px;
margin-bottom: 35px;
}
