.our-products {
    padding-top: 137px;
    padding-bottom: 149px;
    // background-color: #E5E5E5;
    background-color: $footer-text-color;
}

.our-products__name {
font-family: Hind Madurai;
font-style : normal;
font-weight: 600;
font-size  : 44.2px;
line-height: 61px;
color: $header-color;
text-align: center;
margin-bottom: 64px;
}
.our-products__list {
    display: flex;
    justify-content: space-around;
    margin-bottom: 109px;
}
.our-products__link {
display: block;
font-family: Roboto;
font-style : normal;
font-weight: 500;
font-size  : 18px;
line-height: 1.17;
color: $main-text-color;
opacity: 0.6;
text-decoration: none;
cursor: pointer;
transition: opacity 300ms linear;
&:hover,
&:focus {
    opacity: 1;
    &::after {
        transform: scaleX(1);
    }
}

&::after {
    content:"";
    width: 100%;
    height: 3px;
    display: block;
    background-color:  $accent-color;
    transform: scaleX(0);
    transition: transform 300ms linear;
}
}

.card__name {
font-family: Hind Madurai;
font-style : normal;
font-weight: bold;
font-size  : 26px;
line-height: 1.4;
margin-bottom: 11px;
color: $main-text-color

}
.autor__name {
font-family: Roboto;
font-style : normal;
font-weight: 500;
font-size  : 24px;
line-height: 1.17;
color: $main-text-color;
margin-bottom: 50px;
&::before {
    display          : inline-block;
    content          : "";
    width            : 59px;
    height           : 58px;
    background-image : url(../images/autor/autor.jpg);
    background-repeat: no-repeat;
    background-size  : cover;
    margin-right     : 21px;
    margin-bottom: -30px;
}
&::after {
display          : block;
content          : "AMIRICAN";
font-family: Roboto;
font-style : normal;
font-weight: 500;
font-size  : 12px;
line-height: 14px;
color      : $main-text-color;
opacity    : 0.7;
margin-top    : 5px;
margin-left: 80px;
}
}
.card__item {
    display: flex;
    align-items: center;
    &:nth-child(-n+3){
    margin-bottom: 30px;}
    &:nth-child(even){
    flex-direction: row-reverse;
    }
}
.autor {
margin-bottom: 50px;
margin-right: 224px;
}
.card__content {
width: 454px; 
text-align: start;
margin-left: 85px;

&-odd {
 width: 454px;
text-align: right;
margin-right: 85px;
}

}

.card__text {
@include text
margin-bottom: 34px;
}
.autor__text {
    @include text
    margin-bottom: 60px;
    width: 322px;
    &::before {
        display: inline-block;
        content: "";
        background-image: url(../images/q.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 11px;
        height: 10px;
        margin-right: 12px;
        margin-bottom: 3px;
    }
      &::after {
      display          : inline-block;
      content          : "";
      background-image : url(../images/q3.svg);
      background-repeat: no-repeat;
      background-size  : cover;
      width            : 11px;
      height           : 10px;
      margin-left     : 12px;
      margin-bottom    : 3px;
  }
}
.card__price{
font-family: Hind Madurai;
font-style : normal;
font-weight: 500;
font-size  : 26px;
line-height: 1.4;
color: $main-text-color;
margin-bottom: 10px;

}
.card__price-not {
font-family         : Hind Madurai;
font-style          : normal;
font-weight         : 500;
font-size           : 20px;
line-height         : 1.4;
text-decoration-line: line-through;
opacity: 0.7;
}
.block {
    width           : 250px;
    margin-left: 20px;
   
}
.slick-prev, .slick-next {
width: 14px;
height: 14px;
border-radius: 50%;
}
.slick-prev::before,
.slick-next::before {
    content: "";
    display: block;
    background-size    : cover;
    background-position: center;
    background-repeat  : no-repeat;
    width: 14px;
    height: 14px;
    opacity: 0.5;
}
.slick-prev::before {
    background-image   : url(../images/left.svg);
    
}
.slick-next::before {
    background-image : url(../images/right2.svg);
    
}
.slick-prev:hover::before {
    opacity: 1;
}

.slick-next:hover::before {
    opacity: 1;
}


.autor__photo {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 58px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 50%;
    
}
