.pay-food {
padding-top: 90px;
padding-bottom: 240px;
background:$main-bckg-color;
}
.pay-food>.container{
position: relative;
display: flex;
justify-content: flex-end;
}
.pay-food__card{
position: absolute;
top: 0;
left: 0;
border-radius: 33px;
}

.pay-food__name {
@include text ($fw:500,$fs:44.2px,$lx:1.2,$opa:1)
margin-bottom: 20px;
}
.pay-food__text {
@include text ($fs:18px,$lx:1.16,$color:$hero-color)
letter-spacing: 0.01em;
margin-bottom: 31px;
width: 607px;
}
.pay-food__list {
    margin-bottom: 40px;
}
.pay-food__item:nth-child(-n+2) {
    margin-bottom: 20px;
}
.pay-food__link-1 {
    @include text ($fs: 22px, $lx: 1.2, $opa: 1);
    cursor: pointer;
    &::before {
    @include pay ($img: url(../images/buy1.svg),
$bz:11px 17px);
    transition: background-color 250ms linear;
    }
    &:hover::before,
    &:focus::before {
    background-color: $accent-color;
}
}
.pay-food__link-2 {
    @include text ($fs: 22px, $lx: 1.2, $opa: 1);
    cursor: pointer;
    &::before {
    @include pay ($img: url(../images/buy2.svg));
    transition: background-color 250ms linear;   
    }
    &:hover::before,
    &:focus::before {
    background-color: $accent-color;
    }
}
.pay-food__link-3 {
    @include text ($fs: 22px, $lx: 1.2, $opa: 1);
    cursor: pointer;
    &::before {
    @include pay ($img: url(../images/buy3.svg),
$bz:16px 13px);
    transition: background-color 250ms linear;
    }
    &:hover::before,
    &:focus::before {
    background-color: $accent-color;
    }
}
.pay-food__buttons-list {
    position: relative;
    display: flex;
    align-items: center;
}

.pay-food__buttons-form1 {
    margin-right: 7px;
    &::after {
    @include button-pay ($bs: url(../images/google.svg))
    width : 200px;
    height : 77px;
    top : 0;
    left : -15px;
    }
}
.pay-food__buttons-form2 {
    &::after {
    @include button-pay ()
    width : 173px;
    height : 88px;
    top : -5px;
    left : 200px;
    }
}