.pay-food {
padding-top: 90px;
padding-bottom: 240px;
background:$main-bckg-color;
}
.pay-food>.container{
position: relative;
display: flex;
}
.pay-food__card{
    position: absolute;
    background: #D64374;
border-radius: 33px;

}
.pay-food__content {
    margin-left: 415px;
}
.pay-food__name {
font-family: Roboto;
font-style : normal;
font-weight: 500;
font-size  : 44.2px;
line-height: 1.2;
color: $main-text-color;
margin-bottom: 20px;
}
.pay-food__text {
@include text ($fs: 18px, $lx: 1.16, $color: $hero-color )
letter-spacing: 0.01em;
width: 607px;
margin-bottom: 31px;
}
.pay-food__list {
    margin-bottom: 40px;
}
.pay-food__item:nth-child(-n+2) {
    margin-bottom: 20px;
}
.pay-food__link-1 {
    @include text ($fs: 22px, $lx: 1.2, $opa: 1);
    cursor: pointer;
    &::before {
        
    @include pay ($img: url(../images/buy1.svg),
$bz:11px 17px);

    }
}
.pay-food__link-2 {
    @include text ($fs: 22px, $lx: 1.2, $opa: 1);
    cursor: pointer;
    &::before {
        @include pay ($img: url(../images/buy2.svg));
    }
}
.pay-food__link-3 {
    @include text ($fs: 22px, $lx: 1.2, $opa: 1);
    cursor: pointer;
    &::before {
    @include pay ($img: url(../images/buy3.svg),
$bz:16px 13px);
    }
}
.pay-food__buttons-list {
    position: relative;
    display: flex;
    align-items: center;
}

// .pay-food__buttons-item:nth-child(1){
// display: inline-block;
// margin-right: 7px;
// width : 200px;
// height : 77px;
// }
.pay-food__buttons-form1 {
    margin-right: 7px;
    &::after {
    @include button-pay ($bs: url(../images/google.svg))
    width : 200px;
    height : 77px;
    top : 0;
    left : -15px;
    }
}
.pay-food__buttons-form2 {
    &::after {
    @include button-pay ()
    width : 173px;
    height : 88px;
    top : -5px;
    left : 200px;
    }
}