.questions {
    padding-top: 191px;
    padding-bottom: 129px;
    background-color: $footer-text-color;
}
.questions__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.questions__fill{
position: relative;
height: 74px;
width : 637px;
}
.questions__name {
@include text ($fw:500,$fs:44px,$lx:1.18,$opa:1)
text-align: center;
width: 522px;
margin-bottom: 28px;
}
.questions__input {
width : 100%;
height: 100%;
background: #FAFAFA;
border: 5px #FAFAFA;
outline: 0;
padding: 29px 130px 29px 29px;
border-radius: 5px;
resize: none;
&::placeholder {
@include text ($fs:14px,$lx:1.2,$opa:0.6)
}
}
.questions__button {
position: absolute;
height: 100%;
right: 0;
padding: 28px 31px 28px 36px;
background: #D64374;
border-radius: 5px;
border: none;
cursor: pointer;
@include text ($fw:500,$fs:20px,$lx:1.12,$color:$footer-text-color,$opa:1)
transition : box-shadow 250ms linear;
&:hover,
&:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
}