// .qeschion-section{
//     width: 100%;
//     height: 100%;

// }
.qeschion {
  // @media screen and (min-width: 400px) {
  //   width: 350px;
  // }
 max-width: 95%;
  // height: 100%;
  border-radius: 5px;
  background-color: cadetblue;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  overflow:hidden;

}

.qeschion-item {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  background-color: yellowgreen;
}
.answer-text {
  @media screen and (min-width: 400px) {
    width: 350px;
    margin-left: 80px;
  }

  max-width: 96%;
  height: 100%;
  border: none;
  border-radius: 5px;
  max-width: 100%;
}
.answer-text:hover,
.answer-text:focus,
.answer-text:active {
  border: none;
  outline: none;
}
.qeschion-close {
  @media screen and (min-width: 400px) {
    width: 30px;
    height: 30px;
    top: 50%;
  }
  width: 25px;
  height: 25px;
  padding-top: 4px;
transform: translateY(-50%);
  position: absolute;
  right: -10px;
  top: 50%;
  border-radius: 50px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  transition: all 300ms linear;
}
.qeschion-close:hover,
.qeschion-close:focus {
  background-color: yellow;
  color: black;
}
.none {
  display: none;
}
.answer-span {
  max-width: 96%;
  padding: 5px;
  height: auto;
}
