.button {
font-family: Hind Madurai;
font-style : normal;
font-weight: bold;
font-size  : 16px;
line-height: 1.4;
padding: 15px 0px;
width: 165px;
color:  #FAFAFA;
background: #D23166;
border-radius: 5px;
cursor: pointer;
border: none;
text-align: center;
}
.button-card {
padding: 15px 0px;
font-family: Roboto;
font-style : normal;
font-weight: 500;
font-size  : 16px;
line-height: 1.2;
color: #FAFAFA;
background: #D64374;
border-radius: 5px;
cursor: pointer;
border: none;
text-align: center;
width: 165px;
}