.page-header {
    background-color: $header-bckg-color;
    padding-top: 10px;
    padding-bottom: 0px;
    width: 100vw;
}
.header {
    display: flex;
    align-items: center;
}

.page-header__list {
    display: flex;
    align-items: center;
    margin-left: 266px;
}
.page-header__item:not(:last-child){
    margin-right: 40px;
}
.page-header__link {
@include text ($fs:14px,$lx:1.14,$color:$header-color,$opa:0.6);
transition:all 300ms linear;
&:hover,
&:focus {
color: $accent-color;
font-weight: bold;
font-size  : 15px;
line-height: 1.2;
}
}
.page-header__button {
@extend .button;
margin-left: auto;
}