.page-header {
    background-color: $header-bckg-color;
    padding-top: 42px;
    padding-bottom: 67px;
}
.header {
    display: flex;
    align-items: center;
}

// .page-header__logo {
//     display: inline-block;
//     width: 79px;
//     height: 79px;
//    background-image: url(./images/logo1.svg);
//     // background-color: red;
// }
.page-header__list {
    display: flex;
    align-items: center;
    margin-left: 266px;
}
.page-header__item :not(last-child){
    margin-right: 40px;
}
.page-header__link {
@include text
&:hover,
&:focus {
    color: $accent-color;
}
}
.page-header__button {
    margin-left: auto;
}