.backdrop {
    position        : fixed;
    top             : 0;
    left            : 0;
    min-width       : 100%;
    min-height      : 100%;
    padding         : 10px 15px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity         : 1;
    overflow-y      : scroll;
    transition      : opacity 200ms linear;

    &.is-hidden {
        visibility    : hidden;
        opacity       : 0;
        pointer-events: none;
        transition : opacity 200ms linear,  visibility 200ms linear;
    }
}

.modal {
   position  :absolute;
   top      : 10%;
   left     : 50%;
   transform: scale(1) translateX(-50%);
   width     :70%;
   padding   :1em;
   margin    :2em 10px 4em;
   background:#fff;
   box-shadow:0 1px 4px rgba(0, 0, 0, 0.3),
   0 0 40px rgba(0, 0, 0, 0.1) inset;
   box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5),
   0 1px 4px rgba(0, 0, 0, 0.3),
   0 0 40px rgba(0, 0, 0, 0.1) inset;
   &:before,
   &:after {
       content : "";
       position: absolute;
       z-index : -2;
   }
    // @media screen and (min-width: 480px) {
    //     position : absolute;
    //     transform: scale(1) translate(-50%, -50%);
    //     width    : 450px;
    //     top      : 50%;
    //     left     : 50%;
    // }

    // @media screen and (min-width: 768px) {
    //     top: 50%;
    // }

    // @media screen and (min-width: 1200px) {
    //     width: 528px;
    // }

    .modal__button-close {
        position       : absolute;
        z-index        : 10;
        top            : 8px;
        right          : 8px;
        width          : 30px;
        height         : 30px;
        border-radius  : 50%;
        cursor         : pointer;
        background     : $accent-color;
        opacity: 0.5;
        border         : 1px solid rgba(0, 0, 0, 0.1);
        box-sizing     : border-box;
        display: flex;
        align-items: center;
        transition : box-shadow 250ms linear,opacity 250ms linear, fill 250ms linear;
        &:hover,
        &:focus {
             box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16);
        opacity: 1;
        fill: $footer-text-color;
        }
    }
}

.modal-form {
    padding   : 40px;
    text-align: start;

    .modal-form__title {
        // @media screen and (min-width: 1200px) {
        //     line-height: 1.15;
        // }

        @include text ($fw: 500,$fs:24px,$opa:1)
        margin-bottom : 12px;
        &::before {
            content: "";
            display: inline-block;
            width: 50px;
            height: 50px;
            margin-right: 10px;
            margin-bottom: -15px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url(../images/ice-kream/buy.png);
        }
    }
.modal-form__text {
    @include text ($opa:1)
    margin-bottom : 12px;
}
.modal-form__clients {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.modal-form__clients-item:nth-child(1) {
    margin-right: 20px;
}
.modal-form__clients-link {
    @include text ();
    text-transform: uppercase;
    
      &::after {
      display         : block;
      content         : "";
      width           : 100%;
      height          : 2px;
      background-color: $accent-color;
    //   transform: translateX(-100%);
      opacity: 0;
transition: color 250ms linear, opacity 250ms linear;    
transition: transform 250ms linear,opacity 250ms linear;
  }
    
    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: $accent-color;
        opacity: 1;
      &::after {
      transform: translateX(0);
     opacity: 1;
       
    }   
    }
   
}
    // .modal-form__list {
    //     margin-bottom: 20px;
    // }

    // .modal-form__item:not(:last-child) {
    //     margin-bottom: 10px;
    // }

    // .modal-form__name {
    //     font-size     : 12px;
    //     line-height   : 14px;
    //     letter-spacing: 0.01em;
    //     color         : #757575;
    //     margin-bottom : 4px;
    // }

    // .modal-form__box {
    //     position: relative;

    //     &:focus-within>.modal-form__icon,
    //     &:hover .modal-form__icon {
    //         fill: $accent-color;
    //     }
    // }

    // .modal-form__text {
    //     width        : 100%;
    //     height       : 40px;
    //     padding      : 12px 12px 12px 42px;
    //     border       : 1px solid rgba(33, 33, 33, 0.2);
    //     border-radius: 4px;
    //     transition   : border $transition-time $function-transition;

    //     &:hover,
    //     &:focus {
    //         border : 1px solid $accent-color;
    //         outline: 0;
    //     }
    // }

    // .modal-form__icon {
    //     position  : absolute;
    //     top       : 50%;
    //     left      : 15px;
    //     fill      : $main-text-color;
    //     transform : translateY(-50%);
    //     transition: fill $transition-time $function-transition;
    // }


    // .modal-form__text-area {
    //     width        : 100%;
    //     height       : 120px;
    //     border       : 1px solid rgba(33, 33, 33, 0.2);
    //     box-sizing   : border-box;
    //     border-radius: 4px;
    //     padding      : 12px 16px;
    //     transition   : border-color $transition-time $function-transition;
    //     resize       : none;

    //     &::placeholder {
    //         font-size     : 12px;
    //         line-height   : 14px;
    //         letter-spacing: 0.01em;
    //         color         : rgba(117, 117, 117, 0.5);
    //     }

    //     &:hover,
    //     &:focus {
    //         border-color: $accent-color;
    //         outline     : 0;
    //     }
    // }

    // .modal-form__accord {
    //     text-align: center;
    // }

    // .modal-form__accord-text {
    //     display        : flex;
    //     align-items    : center;
    //     justify-content: center;
    //     flex-wrap      : wrap;
    //     font-size      : 12px;
    //     line-height    : 1.17;
    //     letter-spacing : 0.03em;
    //     color          : $text-color;

    //     @media screen and (min-width: 1200px) {
    //         font-size  : 14px;
    //         line-height: 1.7;
    //     }
    // }

    // .modal-form__checkbox {
    //     position: absolute;
    //     clip    : rect(0 0 0 0);
    //     width   : 1px;
    //     height  : 1px;
    //     margin  : -1px;
    //     border  : 0;
    //     padding : 0;
    //     overflow: hidden;

    //     &:checked+.modal-form__icon-agree {
    //         background-image   : url(../images/iconcheck.svg);
    //         background-size    : contain;
    //         background-color   : $accent-color;
    //         border-color       : transparent;
    //         background-position: center;
    //         background-origin  : border-box;
    //     }

    //     &:focus+.modal-form__icon-agree {
    //         border-color: $accent-color;
    //     }
    // }

    // .modal-form__icon-agree {
    //     display      : inline-block;
    //     width        : 16px;
    //     height       : 15px;
    //     border       : 2px solid $main-text-color;
    //     border-radius: 4px;
    //     margin-right : 7px;

    //     @media screen and (min-width: 1200px) {
    //         margin-right: 8px;
    //     }
    // }

    // .modal-form__link-agree {
    //     color: $accent-color;
    // }
}

// .button--form {
//     @extend .button;
//     margin-top      : 30px;
//     padding         : 10px 55px;
//     text-align      : center;
//     letter-spacing  : 0.06em;
//     color           : $header-fone-color;
//     background-color: $accent-color;
//     box-shadow      : 0px 4px 4px rgba(0, 0, 0, 0.15);
// }