.page-footer {
    padding-top: 70px;
    padding-bottom: 104px;
    background-color: #0A0808;;
   
}
.page-footer__section {
    display: flex;
    margin-top: 9px;
}

.about-us__text {
@include text ($fs:12px,$lx:1.42,$color:$footer-text-color)
letter-spacing: 0.01em;
width: 207px;
margin-bottom: 25px;
}
.about-us__name {
@include text ($fw:500,$fs:12px,$lx:1.17,$color:$footer-text-color,$opa:1)
margin-bottom: 8px;
}
.about-us__list {
    display: flex;
}
.about-us__item:nth-child(-n+3){
margin-right: 10px;
}
.home {
    margin-left: 37px;
    &__item:nth-child(-n+5){
        margin-bottom: 10px;
    }
}
.home__link {
@include text ( $fs:12px, $lx: 1.2,$color:$footer-text-color)
cursor: pointer;
transition: opacity 300ms linear;
&:hover,
&:focus {
    opacity: 1;
}
}
.partners {
    margin-left: 132px;
    &__item{
@include text ($fs:12px,$lx:1.17,$color:$footer-text-color,$opa:0.8)
    }
    &__item:nth-child(-n+4) {
        margin-bottom: 10px;
    }
}
