.page-footer {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0A0808;
    @media screen and (min-width: 768px) {
    padding-top   : 50px;
    padding-bottom: 50px;
}
@media screen and (min-width: 1120px) {
    padding-top   : 70px;
    padding-bottom: 104px;
}   
}
.page-footer__section {
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
   @media screen and (max-width: 330px) {
    justify-content: center;
    align-items: stretch;
}
    @media screen and (max-width: 1119px) {
    margin-top: 9px;
}
    
.about-us {  
    display: none;
  @media screen and (min-width: 330px) {
      display: block;}
         @media screen and (max-width: 767px) {
        margin-top: 90px;
    }
}
    
}
.page-footer__logo {
    @media screen and (max-width: 1119px) {
    display: none;
}
}
.about-us__text {
    display: none;
@include text ($fs:12px,$lx:1.42,$color:$footer-text-color)
letter-spacing: 0.01em;
width: 120px;
margin-bottom: 25px;
 
@media screen and (min-width: 768px) {
 display: block;
  width: 130px;
}
@media screen and (min-width: 1200px) {
    width: 207px;
}
}
.about-us__name {
@include text ($fw:500,$fs:12px,$lx:1.17,$color:$footer-text-color,$opa:1)
margin-bottom: 8px;
}
.about-us__list {
    display: flex;
}
.about-us__item:nth-child(-n+3){
margin-right: 10px;
}
.home {
    margin-left: 17px;
    @media screen and (min-width: 768px) {
    margin-left: 27px;
}
@media screen and (min-width: 1200px) {
    margin-left: 37px;
}
    &__item:nth-child(-n+5){
        margin-bottom: 10px;
    }
}
.home__link {
@include text ( $fs:12px, $lx: 1.2,$color:$footer-text-color)
cursor: pointer;
transition: opacity 300ms linear;
&:hover,
&:focus {
    opacity: 1;
}
}
.partners {
    display: none;
@media screen and (min-width: 330px) {
    display: block;

}
    &__item{
@include text ($fs:12px,$lx:1.17,$color:$footer-text-color,$opa:0.8)
    }
    &__item:nth-child(-n+4) {
        margin-bottom: 10px;
    }
}
.page-footer__box {
display: flex;
flex-direction: column;
@media screen and (min-width: 768px) {
    display        : flex;
    flex-direction : row;
}
@media screen and (max-width: 329px) {
    width: 100%;
}
}
.page-footer__box1 {
  display        : flex;
flex-direction : column-reverse;
justify-content: flex-end;

@media screen and (min-width: 768px) {
    display       : flex;
    flex-direction: row;
}
}