.page-header {
    background-color: $header-bckg-color;
    padding-top: 10px;
    width: 100vw;
}
.header {
    position: relative;
    display: flex;
    align-items: center;
    
}
.page-header__nav {
        @media screen and (max-width: 767px) {
    display: none;
}
}
.page-header__nav.is-open{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
    background-color: $accent-color;
 
}
.page-header__list {
    display: flex;
    align-items: center;
    margin-left: 100px;

    @media screen and (min-width: 1120px) {
    margin-left: 266px}

}
.page-header__item:not(:last-child){
    margin-right: 40px;
}
.page-header__link {
@include text ($fs:14px,$lx:1.14,$color:$header-color,$opa:0.6);
transition:all 300ms linear;
&:hover,
&:focus {
color: $accent-color;
font-weight: bold;
font-size  : 15px;
line-height: 1.2;
}
}
.page-header__button {
@extend .button;
margin-left: auto;
@media screen and (max-width: 1119px) {
    display: none;}
}