@mixin text($fw: normal, $fs: 16px, $lx: 1.5, $color: $main-text-color, $opa: 0.7) {
  font-family: Roboto;
  font-style: normal;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lx;
  color: $color;
  opacity: $opa;
  text-decoration: none;
}

@mixin secondary-text($fw: 600, $fs: 44.2px, $lx: 1.4, $color: #150101) {
  font-family: Hind Madurai;
  font-style: normal;
  font-weight: 600;
  font-size: 44.2px;
  line-height: $lx;
  color: $color;
}
