@mixin text ($fw:normal, $fs:16px, $lx:1.16,  $color:$header-color, $opa:0.6) {
font-family: Roboto;
font-style : normal;
font-weight: normal;
font-size  : $fs;
line-height: $lx;
text-decoration: none;
color: $color;
cursor: pointer;
opacity: 0.6;
}
@mixin secondary-text ($fw:600, $fs:44.2px, $lx:1.4, $color:#150101) {
font-family: Hind Madurai;
font-style : normal;
font-weight: 600;
font-size  : 44.2px;
line-height: $lx;
color: $color;
}